streamlit==1.32.0
langchain
langchain-groq
langchain-community
python-dotenv
faiss-cpu
unstructured
pdf2image
pytesseract
python-magic-bin ; sys_platform == 'win32'
python-magic ; sys_platform != 'win32'
pypdf
tiktoken
Pillow
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.18.0
rich==13.7.1